@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCE3EB;
    font-family: 'Lato', sans-serif;
    padding-top: 140px;
}

.header {
    padding: 25px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #DCE3EB;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    transition: 0.2s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}

@media (max-width: 700px) {
    img {
        width: 110px;
    }

    .nav-links {
        gap: 35px;
    }

    .nav-links a {
        font-size: 18px;
    }
}

.certificacoes {
    padding: 5rem 9%;
    background-color: #DCE3EB;
}

.titulo-certificacoes {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 700;
}

.cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.5rem;
}

.cert-card {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    border-left: 6px solid #87b5e9;
    cursor: pointer;
}

.cert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.12);
}

.cert-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.cert-card p {
    font-size: 1rem;
    margin: 0.2rem 0;
}

.btn-cert {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid #3B82F6;
    color: blackz   ;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-cert:hover {
    background-color: #3B82F6;
    color: white;
}
