@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCE3EB;
}

header {
    padding: 30px 10px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}