@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCE3EB;
    font-family: 'Lato', sans-serif;
}

.header {
    padding: 25px 40px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    transition: 0.2s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}

@media (max-width: 700px) {
    img {
        width: 110px;
    }

    .nav-links {
        gap: 35px;
    }

    .nav-links a {
        font-size: 18px;
    }
}
