@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCE3EB;
    font-family: 'Lato', sans-serif;
    padding-top: 180px;
}

.header {
    padding: 25px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #DCE3EB;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    transition: 0.2s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}

.projetos-section {
    max-width: 1000px;
    margin: 120px auto 50px;
    padding: 0 20px;
}

.repos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.repo-card {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
    transition: .3s;
}

.repo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.repo-card a {
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #0077ff;
}


@media (max-width: 700px) {
    .header {
        padding: 15px 20px;
    }

    .nav-header img {
        width: 90px;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@media (max-width: 500px) {

    .header {
        padding: 12px 15px;
    }

    .nav-header {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 12px;
    }
}
